NODE_ENV=development
APP_PORT=3000
APP_NAME="NestJS API"
API_PREFIX=api
APP_FALLBACK_LANGUAGE=en
APP_HEADER_LANGUAGE=x-custom-lang
FRONTEND_DOMAIN=http://localhost:3000
BACKEND_DOMAIN=http://localhost:3000

# mongodb+srv://realtime-bot-qazxswedc:F8aLEx6qv2fcJluY@golfob-cluster.4qzo02r.mongodb.net/obapp
DATABASE_TYPE=mongodb
DATABASE_PORT=27017
DATABASE_USERNAME=realtime-bot-qazxswedc
DATABASE_PASSWORD=F8aLEx6qv2fcJluY
DATABASE_NAME=obapp
DATABASE_URL=mongodb+srv://golfob-cluster.4qzo02r.mongodb.net
# DATABASE_URL=mongodb+srv://realtime-bot-qazxswedc:F8aLEx6qv2fcJluY@golfob-cluster.4qzo02r.mongodb.net/obapp

# Support "local", "s3", "s3-presigned"
FILE_DRIVER=local
ACCESS_KEY_ID=
SECRET_ACCESS_KEY=
AWS_S3_REGION=
AWS_DEFAULT_S3_BUCKET=

MAIL_HOST=maildev
MAIL_PORT=1025
MAIL_USER=
MAIL_PASSWORD=
MAIL_IGNORE_TLS=true
MAIL_SECURE=false
MAIL_REQUIRE_TLS=false
MAIL_DEFAULT_EMAIL=noreply@example.com
MAIL_DEFAULT_NAME=Api
MAIL_CLIENT_PORT=1080

AUTH_JWT_SECRET=MIIBUwIBADANBgkqhkiG9w0BAQEFAASCAT0wggE5AgEAAkEAkNlmYZcndaclfY/yvz9GrNomboHIU+SL9i2m1bgVKldT6vxJrRBQFJU3z6cCyAIV6ufdmwqa79at7brojm4C5QIDAQABAkAEX0+YGAo0orY+v0reS4BsZMxerxO3NpGj/XZJAry+0abarJYY/ii0ygq74MZnMXsTqMjsidBLwFxLsiajptzZAiEAzwMhe/EOSniA8oGCJusBzzodBryASLovojxZLY7RTakCIQCzIGnUCGPDbK8ag57SOf7JDOIvwzyqdPomw5pNg1k43QIgTcu6aK6llT0GEJy1AdUtf+gyAlcSysIVpp2RUfqrE8kCIHwjGHRTJCBI78jmMmjqvEHE5fPH0AEpdDrtD8BsKKcZAiA+Kiol50FL+9f/xGSpy80sqDLo/A2fanseRZXopAghxQ==
AUTH_JWT_TOKEN_EXPIRES_IN=1h
AUTH_REFRESH_SECRET=MIIBUwIBADANBgkqhkiG9w0BAQEFAASCAT0wggE5AgEAAkEAwclEbQEBXQ04pJwJrkDJtVfrNAQJKNci23uiBqrThcL5otchRU1Mn9Q61PomdO+r9JotSTKldxPo8HNVSO046QIDAQABAkAG/Aw+cgp0qkL0AuhB6rWidsFkWe9jFJL97nA19Y8Da4YmIhBGpB4sFSr48yNjkWzLjc9FPZwPg7hWrifqg2DhAiEAzo3oF7oXYRQt6Z7DaLahWF9lBizvKjf3Aktfz8hLKwkCIQDwLOcU2NVnTcijwVSvK+G4cYbVeFDVVcKnAuCL+SS24QIgTQJXT9FPuh/95iYNENNWYE5gqebC3Gi1LSPQ+vTgIZECIFifyRlJNd3rtuiuM0h8QctkoONuhS1jevNTvXYJFkIhAiAbLfTTmJ6zBoWAnYsAZ8rEoBofAZ1JbyNq008jYV0qBg==
AUTH_REFRESH_TOKEN_EXPIRES_IN=3650d
AUTH_FORGOT_SECRET=secret_for_forgot
AUTH_FORGOT_TOKEN_EXPIRES_IN=30m
AUTH_CONFIRM_EMAIL_SECRET=secret_for_confirm_email
AUTH_CONFIRM_EMAIL_TOKEN_EXPIRES_IN=1d

FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

APPLE_APP_AUDIENCE=[]

TWITTER_CONSUMER_KEY=
TWITTER_CONSUMER_SECRET=

WORKER_HOST=redis://redis:6379/1
